// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Custom CSS

html, body {
    background-color: $body-bg;
    color: #636b6f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.page-header {
    font-family: Poppins, sans-serif;
    color: #091e42;
    font-size: 65px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

//Portfolio

.portfolio {
    img {
        object-fit: cover; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        max-width: 100%;
        max-height: 180px;
        margin-bottom: 1rem;
    }
}

.card-image-wrapper {
    display: flex;
    align-items: center;
}

.card-title {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #767D87;
    margin-left: 1rem;
    text-align: center;
}